@media screen and (min-width: 700px) {

    #menu {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        flex-direction: row;
    }

    .navigation a {
        display: block;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}